
/*Colors*/

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);


$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

*, ::after, ::before {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: $VeryLightGray;
    min-height: 100vh;
    padding-top: 85px;
}

main {
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 200;
        color: $VeryDarkBlue;
        span {
            display: block;
            font-weight: bold;
        }

    }

    p {
        max-width: calc(1440px/2);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: $VeryDarkBlue;
    }

    article {
        width: 33.330%;
        height: 300px;
        background: white;
        position: relative;
        text-align: left;
        padding: 15px;
        padding-right: 30px;
        color: $GrayishBlue;
        border-top: 5px solid $Red;
        h2 {
            color: $VeryDarkBlue;
            margin-bottom: 5px;
        }
        img {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }


    }

}